body {
  font-family: 'Special Elite', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  text-align: center;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
}

.question-card, .answer-card {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 50px;
  margin: 20px 0;
  border-radius: 5px;
}

button {
  background-color: #9B723B;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-family: 'Special Elite', sans-serif;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: #9B723B;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: grey;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Special Elite', sans-serif;
}

.footer {
  text-align: center;
  margin: 20px 0;
}

.high-score-input {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
}

.question-card h2 {
  margin-bottom: 80px;
}

.question-card .options {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.answer-card .feedback {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.answer-card .navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
